/* Globals */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	font-display: swap;
	font-style: inherit;
}

body {
	background: #f7f7fa;
	padding-top: 60px;
	font-size: 18px;
	color: $color_1;
	font-family: $font_family_1;
	position: relative;
}