//Special Rows
.row {
	&.gbm {
    &::after, 
    &::before {
      display: none;
      content: "";
    }
		&-box {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__header {
				display: block;
				&-flex {
					display: flex;
					justify-content: start;
					align-items: center;
					width: auto;
					min-width: 500px;
				}
			}
		}
	}
}