/* Total Custom Classes */
//Special Rows - Titles and buttons of tables views
.row {
	&.gbm, .gbm {
    &::after, 
    &::before {
      display: none;
      content: "";
    }
		&-box {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__header {
				display: block;
				&-flex {
					display: flex;
					justify-content: start;
					align-items: center;
					width: auto;
					min-width: 500px;
				}
			}
		}
		&_segment {
			&-db {
				&__type {
					width: calc(205px - 30px);
					padding-left: 1% !important;
				}
				&__db--name {
					width: 80%;
				}
			}
			&-lc {
				&__type {
					width: calc(205px - 30px);
					padding-left: 1% !important;
				}
				&__nlc {
					width: 30% !important;
				}
				&__db--name {
					width: 50%;
					text-align: left !important;
				}
				tr > td:nth-child(3) {
					text-align: left;
				}
			}
			&-qy {
				&__type {
					width: calc(205px - 30px);
					padding-left: 1% !important;
				}
				&__name--query {
					width: 30% !important;
				}
				&__db--name {
					width: 50%;
					text-align: left !important;
				}
				tr > td:nth-child(3) {
					text-align: left;
				}
			}
		}
	}
}