/* Nvabar */
.navbar.navbar-custom.navbar-fixed-top {
	padding: 0;
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		.nav {
			> li {
				padding: 5px;
				margin: 0 10px;
				a {
					font-weight: bold;
				}
			}
		}
		.navbar-top-links {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			.nav-link {
				&.active {
					&::before {
						content: '';
						position: absolute;
						bottom: 30%;
						right: 0;
						left: 0;
						background: $background_color_1;
						height: 15%;
					}
				}
			}
			.gear-item {
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
				background: #125ba6;
				&.active {					
					background: #fff;
					i, svg {
						color: #125ba6;
					}
				}
			}
		}
	}
}

.navbar {
	border: 0;
	&.navbar-custom {
		background: #1973c1;
		height: 60px;
		.navbar-header {
			.navbar-toggle {
				background: rgba(255, 255, 255, 0.1);
				padding: 12px;
				margin-top: 10px;
				&:hover {
					background: rgba(255, 255, 255, 0.05);
				}
				.icon-bar {
					background: #fff;
				}
			}
		}
	}
	&-brand {
		padding: 2px 40px;
	}
	.nav {
		>li {
			>a {
				color: #fff;
				&:hover {
					text-decoration: none;
					background-color: $background_color_1;
					background: none;
				}
				&:focus {
					text-decoration: none;
					background-color: $background_color_1;
					background: none;
				}
			}
		}
		.open {
			>a {
				color: #fff;
				text-decoration: none;
				background-color: $background_color_1;
				background: none;
				&:hover {
					text-decoration: none;
					background-color: $background_color_1;
					background: none;
				}
				&:focus {
					text-decoration: none;
					background-color: $background_color_1;
					background: none;
				}
			}
		}
	}
}