/* Sidebar */
.sidebar {
	display: block;
	padding: 0;
	display: none;
	box-shadow: none;
	background-image: linear-gradient(0deg, #032667, #1973c1);
	ul {
		margin: 0px 0px 20px 0px;
	}
	ul.nav {
		a {			
			padding: 10px 40px;
			font-weight: bold;
			color: rgba(255,255,255,.5) !important;
			transition: ease .3s all;
			&:hover {
				text-decoration: none;
				background-color: $background_color_2;
				color: $color_5;
			}
		}
		li.parent {
			ul {
				li {
					a {
						border: none;
						display: block;
						padding-left: 30px;
						line-height: 40px;
						border-radius: 0;
						&:hover {
							text-decoration: none;
							background-color: $background_color_2;
							color: $color_5;
						}
					}
				}
			}
			a.active {
				color: $color_5;
				background-color: $background_color_2;
				&:hover {
					color: $color_5;
					background-color: $background_color_2;
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_2;
				}
			}
		}
		.active {
			a {
				color: $color_5 !important;
				background-color: $background_color_2;
			}
			>a {
				&:hover {
					color: $color_5;
					background-color: $background_color_2;
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_2;
				}
			}
		}
		ul {
			list-style: none;
			list-style-type: none;
			li {
				list-style: none;
				list-style-type: none;
			}
		}
		li {
			width: 100%;
			a {
				height: 50px;
				font-size: 15px;
				line-height: 2em;
				color: #fff;
				letter-spacing: 1px;
				font-size: 1.5rem;
			}
			&:last-child {
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				a {
					color: #fff !important;
				}
			}
		}
		ul.children {
			width: auto;
			padding: 0;
			margin: 0;
			background: #f9f9f9;
			li {
				a {
					height: 40px;
					background: #f1f4f7;
					color: $color_1;
				}
			}
		}
		li.current {
			a {
				background-color: $background_color_2;
				color: $color_5 !important;
			}
		}
	}
}