.btn {
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 30px;
  min-width: 150px;
  display: inline-block;
  &:focus {
    border-radius: 50px;
  }
}

.btn-submit[type="submit"] {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold !important;
  letter-spacing: 1px;
  color: #1973c1;
  background: #fff;
  border: 1px solid transparent;
  margin: 1px !important;
  &:hover {
    background: rgba(255,255,255,.9) !important;
  }
  &:focus {
    border-radius: 50px;
  }
}

.btn-primary {
  background: $color_main;
  border-color: $color_main;
  &.btn-outline {
    border-color: $color_main;
    color: $color_main;
    > i, > span, > svg {
      color: $color_main;
    }
    &:hover {
      background: $color_5;
      border-color: $color_main;
      color: $color_main;
    }
  }
}

.btn-success {
  background: $color-success;
  &.btn-outline {
    border: 1px solid $color-success;
    color: $color-success;
    &:hover {
      background: $color_5;
    }
  }
  &:hover {
    background: #39c590;
  }
}

@media (max-width: 879px) {
  .btn-md-block {
    .btn {
      width: 100%;
    }
  }
}