.btn {
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 20px !important;
  &:focus {
    border-radius: 50px;
  }
}

.btn-submit[type="submit"] {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold !important;
  letter-spacing: 1px;
  color: #1973c1;
  background: #fff;
  border: 1px solid transparent;
  margin: 1px !important;
  &:hover {
    background: rgba(255,255,255,.9) !important;
  }
  &:focus {
    border-radius: 50px;
  }
}