/* Media Queries */
@media (min-width: 768px) {
	.sidebar {
		display: block;
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.navbar-header {
		width: 100%;
	}
}