/* tablas */
.cd_table {
  padding: 3.5rem 4rem;
}
.cd_table > table, th, td, tr, thead, tbody {
  border: none !important;
}
.cd_table > table > thead > tr > th,
.cd_table > table > thead > tr > th > span, 
.cd_table > table > thead > tr > th > i, 
.cd_table > table > thead > tr > th > svg, 
.cd_table > table > thead > tr > th > a {
  color: $color_second !important;
}

.cd_table table > thead > tr > th:nth-child(1),
.cd_table table > tbody > tr > td:nth-child(1) {
  padding-left: 30px;
}

.cd_table table > thead > tr > th:nth-child(3),
.cd_table table > thead > tr > th:nth-child(4) {
  text-align: center !important;
}

.cd_table table > tbody > tr > td:nth-child(3), 
.cd_table table > tbody > tr > td:nth-child(4) {
  text-align: center !important;
}

.cd_table .table-hover > tbody > tr > td {
  padding: 18px 0;
}

.cd_table .table-hover > tbody > tr {
  transition: ease-in-out .1s all !important;
}

/* Hover en Tablas*/
.cd_table {
  .table-hover {
    &.thover-primary {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-primary;
          }
        }
      }
    }
    &.thover-warning {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-warning;
          }
        }
      }
    }
    &.thover-success {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-success;
          }
        }
      }
    }
    &.thover-danger {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-danger;
          }
        }
      }
    }
    &.thover-warning {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-warning;
          }
        }
      }
    }
    &.thover-info {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-info;
          }
        }
      }
    }
    &.thover-light {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-light;
          }
        }
      }
    }
    &.thover-dark {
      > tbody {
        > tr {
          &:hover {
            background-color: $color-alert-dark;
          }
        }
      }
    }
  }
}