.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../media/img/bgi-login.png), linear-gradient(45deg, #032769, #1973c1, #1973c1);
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 5%;
  @media (min-width: 768px) {
    overflow: hidden;
    padding: 0;
    height: 100vh;
  }
  .cd_form-login {
    background: #1973C1;
    color: #fff;
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-sm;
    .content-form {
      width: 65%;
      margin: auto;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      @media (max-width: 978px) {
        width: 90%;
      }
      h2 {
        font-weight: bold;
      }
      .form-group {
        input {
          background: #3081c7;
          border-radius: 50px;
          padding: 20px 30px;
          border: none;
          border-bottom: 2px solid #fff;
          color: #fff;
          font-weight: bold;
          &::-webkit-input-placeholder {
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 22px;
          }
          &:focus::-webkit-input-placeholder {
            color: #fff;
          }
        }
        a[href="recover-password.html"] {
          font-size: 14px;
        }
      }
    }
  }
  .select_profile .btn {
    border-radius: 50px;				
    width: 200px
  }
  .select_profile {
    .btn {
      width: 40%;
      margin: 0 1% !important;
    }
  }
}