<!-- Template for admin settings of Acoustic -->
<div class="container-fluid">

  <!-- Title -->
  <div class="row ai-center">
    <div class="col-6">
      <h1 class="text-second text-bold">CONFIGURACION ACOUSTIC</h1>
    </div>
    <div class="col-6">
      <a href="#" class="btn btn-primary float-right">GUARDAR</a>
    </div>
    <div class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui molestie, porta purus in, eleifend nibh.</div>
  </div>

  <!-- Form of profile -->
  <div class="row py-5">
    <form method="GET" class="w-100">
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="name_settings" placeholder="Pod Acoustic" required />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="email" class="form-control" name="email_settings" placeholder="Acoustic Key" required />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="password" class="form-control" name="psw_settings" placeholder="Acoustic Secret" required />
        </div>
      </div>
    </form>
  </div>

</div>