<!-- Template for admin settings on id campaign -->
<div class="container-fluid">

  <!-- Title -->
  <div class="row ai-center">
    <div class="col-6">
      <h1 class="text-second text-bold">PERFIL</h1>
    </div>
    <div class="col-6">
      <a href="#" class="btn btn-primary float-right">GUARDAR</a>
    </div>
    <div class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui molestie, porta purus in, eleifend nibh.</div>
  </div>

  <!-- Form of ID Campaign -->
  <div class="row py-5">
    <form method="GET" class="w-100">

      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="name_settings" placeholder="ID SMS" required>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="input-group">
          <input type="email" class="form-control" name="email_settings" placeholder="ID USSD" required>
        </div>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col-12 cd_table cd_table-campaigns">
      <table class="table table-hover border">
        <thead>
          <tr class="border-bottom">
            <th scope="col">TIPO</th>
            <th scope="col">ID</th>
            <th scope="col">FECHA DE CREACION</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-none">
            <td><span>Luis Osinski</span></td>
            <td><span>Jackson29@hotmail.com</span></td>
            <td><span>83417</span></td>
          </tr>
          <tr class="d-none">
            <td><span>Trinity Reynolds</span></td>
            <td><span>Toni61@gmail.com</span></td>
            <td><span>46152</span></td>
          </tr>
          <tr class="d-none">
            <td><span>Chaya Romaguera</span></td>
            <td><span>Margarete.Kiehn@gmail.com</span></td>
            <td><span>96568</span></td>
          </tr>
          <tr>
            <td colspan="3" class="text-center">Aun no has creado un ID</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>