<!-- Modal -->
<div class="modal" id="save_Acoustic" tabindex="-1" role="dialog" aria-labelledby="save_AcousticLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="text-white cursor-pointer ml-auto" data-dismiss="modal" aria-label="Close"><i class="fal fa-times text-white"></i></a>
      </div>
      <div class="modal-body py-5 text-center">
        <i class="fas fa-exclamation bg-danger p-3"></i>
      </div>
      <div class="modal-footer text-center d-block">
        <p class="text-second lead mb-0">Esta seguro que desea editar</p>
        <h3 class="text-second text-bold mt-0">Las credenciales de conexion ?</h3>
        <p>Perdera acceso a la informacion que actualmente se encuentra llamando a su aplicacion.</p>
        <a href="#" data-dismiss="modal" class="btn btn-secondary btn-outline">CANCELAR</a>
        <a href="#" class="btn btn-success m-auto" data-toggle="modal" data-target="#process_saving-acoustic">ACEPTAR</a>
      </div>
    </div>
  </div>
</div>