<!-- Details of failure, To this container it is necessary for it to appear with the animation, add the class "active". Please pay attention to the ID Error -->
<div id="details-failure" class="">
  <div class="d-flex fd-column jc-between h-100">
    <div class="top-items">
      <div class="d-flex jc-between ai-center">
        <h1 class="text-second">ERROR</h1>
        <a href="#"><i class="fal fa-times fa-2x text-dark"></i></a>
      </div>
      <div class="list-details px-5 overflow-y-scroll">
        <ul>
          <li>
            <p class="lead mb-0 mt-n5 pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid perspiciatis libero minima, suscipit obcaecati recusandae consequuntur. Exercitationem, iure ad.</p>
          </li>
          <li>
            <p class="lead mb-0 mt-n5 pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid perspiciatis libero minima, suscipit obcaecati recusandae consequuntur. Exercitationem, iure ad.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-group text-center mb-5">
      <a href="#" class="btn btn-light mx-3">CANCELAR</a>
      <a href="#" class="btn btn-primary mx-3">OK</a>
    </div>
  </div>
</div>