<!-- Modal -->
<div class="modal" id="rec-new_password" tabindex="-1" role="dialog" aria-labelledby="rec-new_passwordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="text-white cursor-pointer ml-auto" data-dismiss="modal" aria-label="Close"><i class="fal fa-times text-white"></i></a>
      </div>
      <div class="modal-body py-5 text-center">
        <i class="fal fa-check bg-success"></i>
      </div>
      <div class="modal-footer text-center d-block">
        <p class="text-second lead mb-0">Contraseña</p>
        <h3 class="text-second text-bold mt-0">Cambiada Exitosamente</h3>
        <p>Hemos enviado un mensaje al<br/>correo registrado</p>
        <a href="../../index.html" type="button" class="btn btn-primary m-auto">Aceptar</a>
      </div>
    </div>
  </div>
</div>