<!-- this add the class "active" for view. -->
<div id="modal-right_user-pass" class="change-password">
  <div class="d-flex fd-column jc-between h-100">
    <div class="top-items">
      <div class="d-flex jc-between ai-center">
        <h1 class="text-second">NUEVA CONTRASEÑA</h1>
        <a onclick="userChangePassword_close()"><i class="fal fa-times fa-2x text-dark cursor-pointer"></i></a>
      </div>
      <div class="list-details px-5">
        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem vitae perferendis optio velit tempora!</P>
      </div>
      <div class="form-group pt-5 px-5">
        <form action="#" method="GET">
          <div class="input-group my-5 py-1">
            <input type="password" name="user_new-password" class="form-control" id="user_new-password" placeholder="Neva contraseña">
          </div>
          <div class="input-group my-5 py-1">
            <input type="password" name="user_repeat-new-password" class="form-control" id="user_repeat-new-password" placeholder="Repetir contraseña">
          </div>
        </form>
      </div>
    </div>
    <div class="box-group text-center mb-5">
      <a onclick="userChangePassword_close()" class="btn btn-light mx-3">CANCELAR</a>
      <a onclick="userChangePassword_close()" class="btn btn-primary mx-3 text-white">GUARDAR</a>
    </div>
  </div>
</div>