.progress {
  border: 2px solid $color-success;
  height: 40px;
  border-radius: 50px;
  width: 70%;
  margin: auto auto !important;
  position: relative;
  &::after {
    content: 'CARGANDO';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: $color-success;
    font-weight: bold;
  }
  .progress-bar.bg-success {
    &::after {
      content: 'CARGANDO';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: #000;
      font-weight: bold;
    }
  }
}