// Variables
$color_main: #1973c1;
$color_second: #032769;
$color_1: #444444;
$color_2: #777;
$color_3: #30a5ff;
$color_4: #444;
$color_5: #fff;
$font_family_1: "century-gothic", sans-serif, serif;
$background_color_1: rgba(255, 255, 255, 0.2);
$background_color_2: rgba(#30a5ff, .5);