<!DOCTYPE html>
<html lang="es">
	<head>
		<title>GBM | Configuracion Perfil</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
		<link rel='shorcut icon' type='image/png' href='../../media/logo/logo.PNG' />
    <link rel="stylesheet" href="../../fonts/fontawesome/css/all.min.css" />
		<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css"><!--Century Gothic Font-->
		<link href="../../css/bootstrap-4.3.1.min.css" rel="stylesheet" />
		<link href="../../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../css/bootstraplus.min.css" rel="stylesheet" />
		<link href="../../css/normalize.css" rel="stylesheet" />
		<link href="../../css/styles.min.css" rel="stylesheet" />
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header>
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="../../media/logo/logo.PNG" alt="img-logo" class="img img-fluid of-cover w-75">
            </a>
            <ul class="nav navbar-top-links navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="admin-users.html">USUARIOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-contacts.html">CONTACTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-sms.html">SMS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-ussd.html">USD</a>
              </li>
              <li class="nav-item gear-item active">
                <a class="nav-link active" href="admin-users.html"><i class="fal fa-cog"></i></a>
              </li>
            </ul>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</header>

		<!-- Sidebar -->
		<aside id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
			<h4 class="text-center text-white pt-10 text-bold">CONFIGURACION</h4>
			<div class="divider"></div>
			<ul class="nav menu">
				<li class="active"><a href="#">Perfil</a></li>
				<li><a href="admin-settings-general.html">Configaracion General</a></li>
				<li><a href="admin-settings_id_campaign.html">ID de Compañia</a></li>
				<li><a href="admin-settings_acoustic.html">Configaracion Acoustic</a></li>
				<li><a href="../../index.html">Cerrar Sesión</a></li>
			</ul>
		</aside><!--/.sidebar-->
		
		<!-- Contenido Principal -->
		<main class="col-auto offset-lg-2 offset-md-3">
					
			<div class="panel panel-container">
				
				<div class="container-fluid">

          <!-- Title -->
          <div class="row ai-center">
            <div class="col-6">
              <h1 class="text-second text-bold">PERFIL</h1>
            </div>
            <div class="col-6">
              <a href="#" class="btn btn-primary float-right">GUARDAR</a>
            </div>
            <div class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui molestie, porta purus in, eleifend nibh.</div>
          </div>
        
          <!-- Form of profile -->
          <div class="row py-5">
            <form method="GET" class="w-100">
              <div class="col-md-4">
                <div class="input-group">
                  <label for="name_settings" class="text-second">Nombre</label>
                  <input type="text" class="form-control" name="name_settings" placeholder="Nombre" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <label for="email_settings" class="text-second">Correo</label>
                  <input type="email" class="form-control" name="email_settings" placeholder="Correo" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <label for="psw_settings" class="text-second">Contraseña</label>
                  <div class="btn-group-edit">
                    <input type="password" name="psw_settings" placeholder="Contraseña">
                    <a onclick="adminChangePassword_open()" href="#"><i class="fas fa-pen"></i></a>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

			</div>			
			
    </main>	<!--/.main-->
    
    <div id="modal-right_admin-pass" class="new-user">
      <div class="d-flex fd-column jc-between h-100">
        <div class="top-items">
          <div class="d-flex jc-between ai-center">
            <h1 class="text-second">NUEVA CONTRASEÑA</h1>
            <a onclick="adminChangePassword_close()"><i class="fal fa-times fa-2x text-dark cursor-pointer"></i></a>
          </div>
          <div class="list-details px-5">
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem vitae perferendis optio velit tempora!</P>
          </div>
          <div class="form-group pt-5 px-5">
            <form action="#" method="GET">
              <div class="input-group my-5 py-1">
                <input type="text" name="name_new-user" class="form-control" id="name_new-user" placeholder="Nombre">
              </div>
              <div class="input-group my-5 py-1">
                <input type="correo" name="email_new-user" class="form-control" id="email_new-user" placeholder="Correo">
              </div>
            </form>
          </div>
        </div>
        <div class="box-group text-center mb-5">
          <a onclick="adminChangePassword_close()" class="btn btn-light mx-3">CANCELAR</a>
          <a onclick="adminChangePassword_close()" class="btn btn-primary mx-3 text-white">GUARDAR</a>
        </div>
      </div>
    </div>

		<!-- <footer>
			
		</footer> -->
	
		<script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://kit.fontawesome.com/25f07c253e.js'></script>
    <script src='js/scripts.js'></script>
		
	</body>
</html>