<!DOCTYPE html>
<html lang="es">
	<head>
		<title>GBM | Usuarios</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
    <link rel='shorcut icon' type='image/png' href='../../media/logo/logo.PNG' />
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css" /><!--Century Gothic Font-->
    <link rel="stylesheet" href="../../fonts/fontawesome/css/all.min.css" />
		<link href="../../css/bootstrap-4.3.1.min.css" rel="stylesheet" />
		<link href="../../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../css/bootstraplus.min.css" rel="stylesheet" />
		<link href="../../css/normalize.css" rel="stylesheet" />
		<link href="../../css/styles.min.css" rel="stylesheet" />
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>

    <i class="far fa-abacus"></i>

		<!-- Header -->
		<header>
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="../../media/logo/logo.PNG" alt="img-logo" class="img img-fluid of-cover w-75">
            </a>
            <ul class="nav navbar-top-links navbar-right">
              <li class="nav-item active">
                <a class="nav-link active" href="#">USUARIOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-contacts.html">CONTACTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-sms.html">SMS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin-ussd.html">USD</a>
              </li>
              <li class="nav-item gear-item">
                <a class="nav-link" href="admin-settings_profile.html"><i class="fal fa-cog"></i></i></a>
              </li>
            </ul>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</header>

		<!-- Contenido Principal -->
		<main id="admin-usuarios">
			<div class="panel panel-container p-5">
				
				<div class="cotainer-fluid">

          <div class="row gbm gbm-box">
            <div class="gbm gbm-box__header">
              <h2 class="text-bold text-second ls-2">USUARIOS</h2>
            </div>
            <div class="gbm gbm-box__header">
              <form method="GET">
                <div class="input-group-icon">
                  <input type="text" name="search_user" class="input-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <label for="search_user">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                  </label>
                </div>
                <a onclick="openDetails();" class="btn btn-primary text-white" type="submit">CREAR USUARIO</a>
              </form>
            </div>
          </div>

          <!-- Table of Users -->
          <div class="row px-4">
            <div class="col-12 cd_table cd_table-users">
              <table class="table table-hover thover-primary position-relative">
                <thead>
                  <tr>
                    <th scope="col" class="w-20">NOMBRE</th>
                    <th scope="col" class="w-30">EMAIL</th>
                    <th scope="col" class="w-20"># CAMPAÑAS SMS</th>
                    <th scope="col" class="w-20"># CAMPAÑAS USSD</th>
                    <th scope="col" class="w-10"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span>Diana</span></td>
                    <td><span>dianajara@sanchobbdo.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">210</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">210</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Felipe</span></td>
                    <td><span>felipegonzaleza@sanchobbdo.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">33</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">33</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Juan Carlos Caballero Ca</span></td>
                    <td><span>jcaballero@gestionintegral.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">22</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">22</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Natalia</span></td>
                    <td><span>nataliagarcia@sanchobbdo.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">102</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">102</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Diana</span></td>
                    <td><span>despinosa@gestionintegral.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">20</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">20</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Andres Hernanadez</span></td>
                    <td><span>andreshernandez1906@gmail.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">2</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">2</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Diana</span></td>
                    <td><span>drodriguez@omnicomediagroup.com.co</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">100</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">100</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Luis</span></td>
                    <td><span>luispena@qdata.io</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">2</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">2</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Chaya Romaguera</span></td>
                    <td><span>Margarete.Kiehn@gmail.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">96568</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">75433</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><span>Chaya Romaguera</span></td>
                    <td><span>Margarete.Kiehn@gmail.com</span></td>
                    <td><div class="tag tag-main tag-sm m-auto">96568</div></td>
                    <td><div class="tag tag-main tag-sm m-auto">75433</div></td>
                    <td class="text-right pr-4">
                      <a href="#">
                        <i class="fas fa-ellipsis-v text-dark"></i>
                        <div class="custom-cm">
                          <div class="custom-cm__item">Item 1</div>
                          <div class="custom-cm__item">Item 2</div>
                          <div class="custom-cm__item">Item 3</div>
                        </div>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Pagination of all tables -->
          <div class="row jc-center mt-5 mx-0 position-relative" id="pagination-tables">
            <div class="col-12 text-center position-absolute bottom-0 px-0">
              <nav aria-label="Page navigation example" class="d-flex ai-center jc-center">

                <!-- Pagers -->
                <!-- In this part it is important that the element li, which is going to contain the points "..." has added the class "disabled" -->
                <ul class="pagination pagination-numbers px-5">
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">13</a></li>                  
                </ul>

                <!-- Form select page -->
                <div class="form-group border-left mx-3 pl-5 mt-4">
                  <form action="#" method="GET" class="d-flex ai-center">
                    <p class="ws-none mt-3">Ir a:</p>
                    <div class="input-group mx-5">
                      <input type="text" name="especific-number-page" class="form-control" id="go_to_number-Page" style="width: 40px; height: 40px;" maxlength="2">
                    </div>
                  </form>
                </div>

                <!-- Arrows -->
                <ul class="pagination pagination-arrows">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <i class="far fa-chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <i class="far fa-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>

			</div>			
    </main>	<!--/.main-->
    
    <div id="modal-right" class="new-user">
      <div class="d-flex fd-column jc-between h-100">
        <div class="top-items">
          <div class="d-flex jc-between ai-center">
            <h1 class="text-second">NUEVO USUARIO</h1>
            <a onclick="closeDetails()"><i class="fal fa-times fa-2x text-dark cursor-pointer"></i></a>
          </div>
          <div class="list-details px-5">
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem vitae perferendis optio velit tempora!</P>
          </div>
          <div class="form-group pt-5 px-5">
            <form action="#" method="GET">
              <div class="input-group my-5 py-1">
                <input type="text" name="name_new-user" class="form-control" id="name_new-user" placeholder="Nombre">
              </div>
              <div class="input-group my-5 py-1">
                <input type="correo" name="email_new-user" class="form-control" id="name_new-user" placeholder="Correo">
              </div>
              <div class="input-group">
                <select class="form-control" id="category_shield" required>
                  <option selected="true">Asignar Rol</option>
                  <option value="Rol 1">Rol 1</option>
                  <option value="Rol 2">Rol 2</option>
                  <option value="Rol 3">Rol 3</option>
                  <option value="Rol 4">Rol 4</option>
                  <option value="Rol 5">Rol 5</option>
                </select>
              </div>
              <div class="input-group my-5 py-1">
                <input type="password" name="pass_new-user" class="form-control" id="name_new-user" placeholder="Contraseña">
              </div>
            </form>
          </div>
        </div>
        <div class="box-group text-center mb-5">
          <a onclick="closeDetails()" class="btn btn-light mx-3">CANCELAR</a>
          <a onclick="closeDetails()" class="btn btn-primary mx-3 text-white">GUARDAR</a>
        </div>
      </div>
    </div>

		<!-- <footer>
			
		</footer> -->
	
		<script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='../../js/scripts.js'></script>
		
	</body>
</html>