<!DOCTYPE html>
<html lang="es">
	<head>
		<title>GBM | Home</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
		<link rel='shorcut icon' type='image/png' href='../../media/logo/logo.PNG' />
    <link rel="stylesheet" href="../../fonts/fontawesome/css/all.min.css" />
		<link href="https://use.typekit.net/oov2wcw.css" rel="stylesheet"><!--Century Gothic Font-->
		<link href="../../css/bootstrap-4.3.1.min.css" rel="stylesheet" />
		<link href="../../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../css/bootstraplus.min.css" rel="stylesheet" />
		<link href="../../css/normalize.css" rel="stylesheet" />
		<link href="../../css/styles.min.css" rel="stylesheet" />
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div id="wrap-wrap" class="login">

			<section id="main-login" class="h-100">
				<div class="container-fluid h-100">
					<div class="row h-100 ai-center p-5">
						<div class="col-xl-10 offset-xl-1 col-12">
							<div class="row ai-center">
								<div class="col-md-6">
									<img src="../../media/logo/logo.PNG" alt="img-logo" class="img img-fluid of-cover mb-5">
									<h1 class="text-bold text-white cd_40px">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
									<p class="text-white w-75 pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare diam.</p>
								</div>
								<div class="col-md-5 cd_form-login">
									<div class="content-form">
										<h2 class="pb-3">Recuperar Contraseña</h2>
										<p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare diam.</p>
										<form method="GET" class="text-center">
											<div class="form-group">											
												<input type="password" name="user_new_psw" id="input" class="form-control" placeholder="Nueva Contraseña" required="required" title="Nueva Contraseña">											
											</div>
											<div class="form-group">											
												<input type="password" name="user_new_psw-rep" id="input" class="form-control" placeholder="Repetir Contraseña" required="required" title="Repetir Contraseña">											
											</div>
											<a href="../../index.html" class="btn btn-primary w-45">Cancelar</a>
											<!-- <button type="submit" class="btn btn-light w-45">Recuperar</button> -->
											<a href="../../index.html" class="btn btn-light w-45" data-toggle="modal" data-target="#rec-new_password">Recuperar</a>
										</form>
									</div>
								</div>
								<div class="col-md-5 offset-md-6 mt-5 text-center select_profile">
									<a href="admin-users.html" class="btn btn-primary mx-5 text-bold ls-1">Perfil Admin</a>
									<a href="#" class="btn btn-primary mx-5 text-bold ls-1">Perfil Usuario</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Modal -->
			<div class="modal" id="rec-new_password" tabindex="-1" role="dialog" aria-labelledby="rec-new_passwordLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a class="text-white cursor-pointer ml-auto" data-dismiss="modal" aria-label="Close"><i class="fal fa-times text-white"></i></a>
						</div>
						<div class="modal-body py-5 text-center">
              <i class="fal fa-check bg-success"></i>
						</div>
						<div class="modal-footer text-center d-block">
							<p class="text-second lead mb-0">Contraseña</p>
							<h3 class="text-second text-bold mt-0">Cambiada Exitosamente</h3>
							<p>Hemos enviado un mensaje al<br/>correo registrado</p>
							<a href="../../index.html" type="button" class="btn btn-primary m-auto">Aceptar</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	
		<script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://kit.fontawesome.com/25f07c253e.js'></script>
    <script src='js/scripts.js'></script>
		
	</body>
</html>